/.env
/.env.*.local
/.phpunit.result.cache
/.vscode/
/.idea/
/node_modules/
/vendor/
/public/storage
/storage/*.key
/storage/framework/cache/data/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/logs/
/bootstrap/cache/*.php
/public/hot
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.DS_Store